/app/config/parameters.yml
/app/bootstrap.php.cache
/app/phpunit.xml
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/bin/
/composer.phar
/web/bundles/
