{% extends('::base.html.twig') %}

{% block body %}
    
    
    
    <div class="responsive-table-line" style="border: 5px solid #ccc;
         margin:0px auto;
         max-width:800px;
         border-collapse: collapse;">

     <table class="table table-bordered table-body-center" >
        <tbody>
            <tr>
                <th>Id</th>
                <td></td>
            </tr>
            <tr>
                <th>Name</th>
                <td></td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td></td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td></td>
                       
            </tr>
            <tr>
                <th>Birthplace</th>
                <td></td>
            </tr>
            <tr>
                <th>Email</th>
                <td></td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td></td>
            </tr>
            <tr>
                <th>Grade</th>
                <td></td>
            </tr>
            <tr>
                <th>Profile</th>
                <td></td>
            </tr>
          
            
            
        </tbody>
    </table>

    
    
        </div>
{% endblock %}
